In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Weinan,CN,2021-02-05 22:32:26,34.5036,109.5089,41.00,74,0,2.24
1,1,Esperance,AU,2021-02-05 22:32:26,-33.8667,121.9000,59.00,94,90,4.61
2,2,Nikolskoye,RU,2021-02-05 22:32:26,59.7035,30.7861,12.00,78,75,13.42
3,3,Arlit,NE,2021-02-05 22:32:27,18.7369,7.3853,65.77,24,0,5.48
4,4,Moree,AU,2021-02-05 22:32:27,-29.4667,149.8500,75.20,60,90,19.57

In [12]:
# Note data used for mapping in gmaps must be in integer or float format
city_data_df.dtypes
# Data we need (x, y variables) are in float64 or int64 format

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# General Syntax for creating a heatmap ----------------------------------------------

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (<ipython-input-14-c9af8c564bea>, line 6)

In [16]:
# Get the maximum temperature.
# Because the weight of temperatures does not take negative values, any temperature below 0 will not be plotted
# To avoid this, we loop through our Max Temp column in our dataframe, and add the MAXIMUM VALUE between 0 and the temperature passed in
# If a negative number is passed in for temp in max_temp, then 0 is returned
# This converts the values in max_temp array into a new array, temps, with values >= 0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# List comprehension format:

In [19]:
# Heatmap of temperature - LIST COMPREHENSION VERSION
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# We can configure the Heatmap output's Zoom, intensity, and point radius by using parameters on the gmaps.figure attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# Instead of having to rely on the for loop above, we can instead pass in a list comprehension to the weights argument:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# WE can modify certain parameters of the heat_layer as well: dissipating, max_intensity, and point_radius
# Check docs for explanation
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Next we want to allow a customer to pass in a parameter like minimum and maximum temperature for our app to give them vacation spot ideas
# We will pass in the min_temp and max_temp values into a .loc call on our dataset to do a filter and return only cities that meet the criteria specified
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria, using the loc() function and passing in a Boolean condition based off the above
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Arlit,NE,2021-02-05 22:32:27,18.7369,7.3853,65.77,24,0,5.48
4,4,Moree,AU,2021-02-05 22:32:27,-29.4667,149.8500,75.20,60,90,19.57
6,6,Butaritari,KI,2021-02-05 22:32:27,3.0707,172.7902,81.61,80,87,18.52
7,7,Kapaa,US,2021-02-05 22:28:39,22.0752,-159.3190,71.01,60,75,2.98
8,8,Cape Town,ZA,2021-02-05 22:31:24,-33.9258,18.4232,69.01,88,0,14.97
9,9,Luwuk,ID,2021-02-05 22:32:27,-0.9516,122.7875,78.69,72,100,3.62
10,10,Atuona,PF,2021-02-05 22:32:27,-9.8000,-139.0333,79.56,81,4,17.76
11,11,Hilo,US,2021-02-05 22:31:47,19.7297,-155.0900,78.80,57,1,5.75
12,12,Rikitea,PF,2021-02-05 22:32:27,-23.1203,-134.9692,79.18,69,1,11.88
16,16,Port Blair,IN,2021-02-05 22:32:28,11.6667,92.7500,77.70,76,17,6.13

In [24]:
# It is important to check that our data filtered has no null values which could break our analysis or functions
preferred_cities_df.count()
# If rows have null values, use the dropna() method to drop those rows

City_ID       288
City          288
Country       286
Date          288
Lat           288
Lng           288
Max Temp      288
Humidity      288
Cloudiness    288
Wind Speed    288
dtype: int64

In [25]:
# With the user-specified data above, we want to present the user with a heatmap as well as markers with details of hotels in cities that fit the criteria

# Get travel destinations

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Take the user-specified filtered dataframe preferred_cities_df and grab reassign only the relevant columns to a new dataframe using the copy() method
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
# Create an empty column called Hotel Name
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3        Arlit      NE     65.77  18.7369    7.3853
4        Moree      AU     75.20 -29.4667  149.8500
6   Butaritari      KI     81.61   3.0707  172.7902
7        Kapaa      US     71.01  22.0752 -159.3190
8    Cape Town      ZA     69.01 -33.9258   18.4232
9        Luwuk      ID     78.69  -0.9516  122.7875
10      Atuona      PF     79.56  -9.8000 -139.0333
11        Hilo      US     78.80  19.7297 -155.0900
12     Rikitea      PF     79.18 -23.1203 -134.9692
16  Port Blair      IN     77.70  11.6667   92.7500

In [26]:
# Using the latitutde and longitude for each city above, pass it into the Google Places Nearby Search feature from Google Places API to pull Hotels:
# Docs for place types: https://developers.google.com/places/web-service/supported_types
# Docs for Place Search: https://developers.google.com/places/web-service/search?authuser=1
# Requests library docs: https://requests.kennethreitz.org/en/master/


# We need to construct an API query to access places, using the following format:
    # https://maps.googleapis.com/maps/api/place/nearbysearch/json

In [27]:
# Set parameters to search for a hotel.
# We want: the API key, the latitude and longitude, the radius (5,000 meter), and the type of place (hotels, or in this case, 'lodging')
# Based off the Requests library documentation for the params feature, we can pass in a dictionary of values for the parameters of an API call
# This makes it easier to scale code instead of using it for one off instances
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name in the hotel_df dataframe
    # In order to know how to access the hotel names, you should look at a test-request and look at the output JSON structure
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Arlit,NE,65.77,18.7369,7.3853,Case de Passage De la Prefecture
4,Moree,AU,75.20,-29.4667,149.8500,Molika Springs Motel
6,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
7,Kapaa,US,71.01,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
8,Cape Town,ZA,69.01,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
...,...,...,...,...,...,...
575,Lubumbashi,CD,64.35,-11.6609,27.4794,Glo Flats
576,Sungairaya,ID,75.94,0.7000,108.9000,Mess P.Milu
577,Hualmay,PE,72.32,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
578,Popondetta,PG,83.41,-8.7537,148.2534,Timos Transit House
582,Kensington,AU,75.00,-33.9167,151.2167,Stamford Plaza Sydney Airport Hotel & Conferen...

In [29]:
# Now with our hotel names, we want to add pop-up markers with Hotel Information to the Heat Map

# Add a heatmap of temperature for the vacation spots. We pass in the filtered dataframe with hotel names, hotel_df
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# How to add markers to heatmap for Google Maps ----------------------------
# Docs: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols
# Syntax: markers = gmaps.marker_layer(marker_locations), where marker_locations are latitudes and longitudes

# Add a heatmap of temperature for the vacation spots and marker for each city.
# Pass the latitudes and longitude columns to a new dataframe, locations
locations = hotel_df[["Lat", "Lng"]]
# Pass the Max Temp column to a series max_temp
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
# Add a marker layer based off the latitude, longitude pairs in the dataframe locations
marker_layer = gmaps.marker_layer(locations)
# Build our figure layer by layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Adding pop-up information to our map --------------------------------------
# Docs: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols

# Pop-up markers come in the form of info_box_templates, which are formatted in HTML:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
# We format the info_box_template format with the value from each column specified in curly braces above
# Python searches each row in hotel_df when iterating through rows for each column's header, and passes it to a new record in the info_box_template list
# It uses string formatting to pull in the values specific to the indexed column on the currently iterated row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# hotel_info is a list with each piece of information, Hotel Name, City, Country, and Max Temp, separated by HTML
# Python does not interpret this, but the Google Maps API will when passed in
# Calling the first 5 values of hotel_info reveals the structure of the list:
hotel_info[:5]

['\n<dl>\n<dt>Hotel Name</dt><dd>Case de Passage De la Prefecture</dd>\n<dt>City</dt><dd>Arlit</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Max Temp</dt><dd>65.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Molika Springs Motel</dd>\n<dt>City</dt><dd>Moree</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Max Temp</dt><dd>75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Max Temp</dt><dd>81.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Resort at Coconut Beach</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>71.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>69.01 °F</dd>\n</dl>\n']

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))