## Deliverable 2. Create a Customer Travel Destinations Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Eyl,SO,7.9803,49.8164,75.24,80,16,13.38,few clouds
1,1,Saint-Augustin,CA,51.2260,-58.6502,28.67,96,99,23.51,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.42,71,87,10.58,overcast clouds
3,3,Kajaani,FI,64.2273,27.7285,14.00,85,90,8.05,overcast clouds
4,4,Ribeira Grande,PT,38.5167,-28.7000,61.23,89,94,21.97,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Eyl,SO,7.9803,49.8164,75.24,80,16,13.38,few clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.42,71,87,10.58,overcast clouds
6,6,Banda Aceh,ID,5.5577,95.3222,85.19,66,26,11.07,scattered clouds
7,7,Hithadhoo,MV,-0.6000,73.0833,81.61,74,33,12.12,scattered clouds
8,8,Akyab,MM,20.1500,92.9000,74.55,38,0,6.69,clear sky
...,...,...,...,...,...,...,...,...,...,...
677,677,Ambulu,ID,-8.3450,113.6058,87.51,62,23,4.05,few clouds
678,678,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,76.51,87,22,8.05,few clouds
679,679,Poum,NC,-20.2333,164.0167,81.32,66,6,7.27,clear sky
680,680,Dingle,PH,10.9995,122.6711,82.35,79,58,13.65,broken clouds
681,681,Vila Velha,BR,-20.3297,-40.2925,73.99,88,90,6.91,overcast clouds

In [36]:
# 4a. Determine if there are any empty rows. (DATA CLEANING) ---------------

# preferred_cities_df.isna().count()
# preferred_cities_df.count()
np.where(preferred_cities_df.isnull())
# preferred_cities_df.iloc[18]

(array([ 18, 154, 258]), array([2, 2, 2]))

In [43]:
# Using pandas isnull() method, we can pass this into the loc function USING SQUARE BRACKETS TO INDEX
# Returns a new dataframe with all rows meeting the condition isnull==True
# As we can see, there are three cities whose countries are returning NaN
preferred_cities_df.loc[preferred_cities_df["Country"].isnull() == True]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
45,45,Luderitz,NaN,-26.6481,15.1594,67.05,74,0,25.97,clear sky
362,362,Opuwo,NaN,-18.0607,13.8400,69.48,43,92,3.11,overcast clouds
607,607,Khorixas,NaN,-20.3667,14.9667,68.90,48,46,2.82,scattered clouds

In [45]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Eyl,SO,7.9803,49.8164,75.24,80,16,13.38,few clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.42,71,87,10.58,overcast clouds
6,6,Banda Aceh,ID,5.5577,95.3222,85.19,66,26,11.07,scattered clouds
7,7,Hithadhoo,MV,-0.6000,73.0833,81.61,74,33,12.12,scattered clouds
8,8,Akyab,MM,20.1500,92.9000,74.55,38,0,6.69,clear sky
...,...,...,...,...,...,...,...,...,...,...
677,677,Ambulu,ID,-8.3450,113.6058,87.51,62,23,4.05,few clouds
678,678,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,76.51,87,22,8.05,few clouds
679,679,Poum,NC,-20.2333,164.0167,81.32,66,6,7.27,clear sky
680,680,Dingle,PH,10.9995,122.6711,82.35,79,58,13.65,broken clouds
681,681,Vila Velha,BR,-20.3297,-40.2925,73.99,88,90,6.91,overcast clouds

In [47]:
# Rename Description column to Current Description
clean_df["Current Description"] = clean_df["Description"]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Current Description
0,0,Eyl,SO,7.9803,49.8164,75.24,80,16,13.38,few clouds,few clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.42,71,87,10.58,overcast clouds,overcast clouds
6,6,Banda Aceh,ID,5.5577,95.3222,85.19,66,26,11.07,scattered clouds,scattered clouds
7,7,Hithadhoo,MV,-0.6000,73.0833,81.61,74,33,12.12,scattered clouds,scattered clouds
8,8,Akyab,MM,20.1500,92.9000,74.55,38,0,6.69,clear sky,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
677,677,Ambulu,ID,-8.3450,113.6058,87.51,62,23,4.05,few clouds,few clouds
678,678,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,76.51,87,22,8.05,few clouds,few clouds
679,679,Poum,NC,-20.2333,164.0167,81.32,66,6,7.27,clear sky,clear sky
680,680,Dingle,PH,10.9995,122.6711,82.35,79,58,13.65,broken clouds,broken clouds
681,681,Vila Velha,BR,-20.3297,-40.2925,73.99,88,90,6.91,overcast clouds,overcast clouds

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# copy() method copies the specified LIST of columns into a new DataFrame
# Here we index clean_df (square brackets) by a list (square brackets) of column names
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Eyl,SO,75.24,few clouds,7.9803,49.8164,
2,Rikitea,PF,78.42,overcast clouds,-23.1203,-134.9692,
6,Banda Aceh,ID,85.19,scattered clouds,5.5577,95.3222,
7,Hithadhoo,MV,81.61,scattered clouds,-0.6000,73.0833,
8,Akyab,MM,74.55,clear sky,20.1500,92.9000,
15,Hilo,US,75.20,overcast clouds,19.7297,-155.0900,
16,Pouebo,NC,82.45,scattered clouds,-20.4000,164.5667,
18,Kavieng,PG,84.99,scattered clouds,-2.5744,150.7967,
19,Sao Joao Do Piaui,BR,73.27,overcast clouds,-8.3581,-42.2467,
20,Mataura,NZ,77.86,few clouds,-46.1927,168.8643,

In [69]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Use iterows() function to return one row and its index at a time
for index, row in clean_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the combination of latitude and longitude to the params dictionary prior to API call under            location key
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [67]:
# For learning ---------------------
# Testing an API call to look at the output is always helpful, so we know how to access the exact portions of the resulting dictionary
# It's better to put this into Chrome with a JSON viewer to format it easily
# Doing so reveals that the data is nested under the key "results", which reveals multiple restaurants & cruises in Australia
# The data format is as follows: DICT, LIST, DICT
# Accessing the "results" key of the JSON returns a list
# To access the first result, we would need to pass the index [0]. Dictionaries cannot be indexed w/ numbers
# To access the Name of the establishment, then pass in the "name" key
test_api = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=<API Key>").json()

test_api["results"][1]["name"]

'Sydney Showboats - Dinner Cruise With Show'

In [80]:
# 7. Drop the rows where there is no Hotel Name.

# Test to see where, if any, rows are null in hotel_df
np.where(hotel_df.isnull())
# If the output returns two empty arrays, there is no null data in the hotel_df

# Can double check by comparing the length of the following Boolean statement with the original Dataset
hotel_df.loc[hotel_df["Hotel Name"].isnull() == False]

clean_hotel_df = hotel_df
# No action required since our API call successfully pulled a hotel for every city passed in

In [81]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [94]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.

# Since the variables we want to pass in for the list description <dd> are passed in with curly braces above, we can use the .format method to pass in the value from the corresponding row with the column header specified in the curly braces. **row is kwargs, where it takes an unlimited number of arguments, for as many variables, or column names, are asked for in the original statement in info_box_template

# For example, our info_box_template looks for Hotel Name, City, Country, Current Description, and Max Temp columns
# For each row in clean_hotel_df that we iterate through, we pass in the value in the column indexed by each and every name above
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

locations

list

In [98]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Maps are created through layering different types of layers, like marker or heatmap layers
# the gmaps.marker_layer() function takes the locations DataFrame as an input and the hotel_info list to the info_box_content argument
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# add the created marker object to the figure
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))