## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# Remember that ".." walks the path backwards to the parent
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Eyl,SO,75.24,few clouds,7.9803,49.8164,Amiin Hotel
1,2,Rikitea,PF,78.42,overcast clouds,-23.1203,-134.9692,Pension Maro'i
2,6,Banda Aceh,ID,85.19,scattered clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
3,7,Hithadhoo,MV,81.61,scattered clouds,-0.6000,73.0833,Scoop Guest House
4,8,Akyab,MM,74.55,clear sky,20.1500,92.9000,Hotel Memory

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

         Lat       Lng
0     7.9803   49.8164
1   -23.1203 -134.9692
2     5.5577   95.3222
3    -0.6000   73.0833
4    20.1500   92.9000
..       ...       ...
285  -8.3450  113.6058
286  -0.9000  -89.6000
287 -20.2333  164.0167
288  10.9995  122.6711
289 -20.3297  -40.2925

[290 rows x 2 columns]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
vacation_df.loc[vacation_df["City"] == "Kanniyakumari"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
202,471,Kanniyakumari,IN,78.89,clear sky,8.0833,77.5667,Sparsa

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# Start - Kanniyakumari
# Stop 1 - Thiruvananthapuram
# Stop 2 - Arani
# Stop 3 - Ponnani
# End - Kanniyakumari

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kanniyakumari"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Thiruvananthapuram"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Arani"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ponnani"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kanniyakumari"]

In [71]:
lng = tuple(vacation_start.to_numpy()[0][5:7])

(8.0833, 77.5667)

In [72]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing. Columns 5 and 6 contain the latitude and longitude of each city
# We convert the dataframe to a NumPy array, access the first (only) item, and the 6th and 7th values from it
start = tuple(vacation_start.to_numpy()[0][5:7])
end = tuple(vacation_end.to_numpy()[0][5:7])
stop1 = tuple(vacation_stop1.to_numpy()[0][5:7])
stop2 = tuple(vacation_stop2.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3.to_numpy()[0][5:7])

In [73]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_trip = gmaps.directions_layer(start, end, 
                waypoints=[stop1, stop2, stop3],
                travel_mode='DRIVING')
fig.add_layer(vacation_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                            vacation_end,
                            vacation_stop1,
                            vacation_stop2,
                            vacation_stop3],
                            ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,471,Kanniyakumari,IN,78.89,clear sky,8.0833,77.5667,Sparsa
1,454,Thiruvananthapuram,IN,84.20,haze,8.4833,76.9167,Hotel Residency Tower
2,251,Arani,IN,71.74,clear sky,12.6667,79.2833,KPK LODGE
3,574,Ponnani,IN,75.20,haze,10.7670,75.9252,Rouba Residency
4,471,Kanniyakumari,IN,78.89,clear sky,8.0833,77.5667,Sparsa

In [76]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add vacation trip and marker layers to our figure
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))